[Desktop Entry]
Name=Smart Software Installer (qt)
Name[hu]=Smart Szoftvertelepítő (qt)
Comment=Graphical front end to install RPM files
Comment[hu]=Grafikus felületű RPM csomagtelepítő
Exec=smart-pkexec --interface=qt4 install "%F"
Terminal=false
Icon=smart-package-manager
Type=Application
StartupNotify=true
Categories=Qt;X-blackPantherOS-.hidden;
MimeType=application/x-rpm;application/x-urpmi;
