[Desktop Entry]
Name=Software Installer Wizard
Name[hu]=Szoftvertelepítő varázsló
Comment=Graphical front end to install 
Comment[hu]=Grafikus felületű programtelepítő
GenericName=Qt5 based graphical front end to install 
GenericName[hu]=Grafikus felületű programtelepítő Qt5 alapokon
Exec=package-wizard --install "%F"
Terminal=false
Icon=package-wizard
Type=Application
StartupNotify=true
Categories=Qt;X-blackPantherOS-.hidden;
MimeType=application/x-rpm;application/x-urpmi;application/vnd.debian.binary-package;application/x-deb;
Keywords=install;rpm;deb;package;application;
Keywords[hu]=telepítés;rpm;deb;csomag;alkalmazás;
NoDisplay=true

