[Desktop Entry]
Name=Package Installer Wizard
Name[ar]=مثبِّت البرمجيَّات
Name[bg]=Инсталатор на софтуер
Name[bn]=সফ্টওয়্যার ইনস্টলকারী
Name[br]=Stalier meziantoù
Name[bs]=Instalacija softvera
Name[ca]=Instal·lador de programari
Name[cs]=Instalace software
Name[cy]=Gosodwr meddalwedd
Name[da]=softwareinstallering
Name[de]=Software Installation
Name[el]=Εγκαταστάτης Λογισμικού
Name[eo]=Programara Instalilo
Name[es]=Instalador de software
Name[et]=Tarkvara paigaldaja
Name[eu]=Software Instalatzailea
Name[fi]=Ohjelmien asennin
Name[fr]=Installer des logiciels
Name[gl]=Instalador de Software
Name[he]=מתקין חבילות תוכנה
Name[hi]=सॉफ़्टवेयर स्थापन-कर्ता
Name[hu]=Szoftvercsomag varázsló
Name[id]=Penginstall Software Wizard
Name[is]=Hugbúnaðar-uppsetning
Name[it]=Programma d'installazione
Name[ja]=ソフトウェア インストーラ
Name[ky]=Программа орноткуч
Name[mk]=Инсталирање софтвер
Name[ms]=Penginstal perisian
Name[nb]=Programvareinstallatør
Name[nl]=Software-installatie
Name[nn]=Programinstallering
Name[pl]=Instalator oprogramowania
Name[pt]=Instalador de Programas
Name[pt_BR]=Instalador de Programas
Name[ro]=Instalator de programe
Name[ru]=Инсталлятор программ
Name[sk]=Inštalátor softvéru
Name[sl]=Program za nameščanje
Name[sr]=Инсталер софтвера
Name[sv]=Programinstallerare
Name[tr]=Yazılım Yükleyici
Name[uk]=Встановлювач програм
Name[uz]=Dastur oʻrnatuvchisi
Name[uz@cyrillic]=Дастур ўрнатувчиси
Name[vi]=Trình cài đặt phần mềm
Name[wa]=Astaleu di programes
Name[zh_CN]=软件安装程序
Name[zh_TW]=軟體安裝程式
Comment=Graphical front end to install RPM/DEB files
Comment[ar]=واجهة رسوميَّة لتثبيت ملفات RPM/DEB
Comment[az]=RPM/DEB paketlərini qurmaq üçün qrafiki ön üz
Comment[bg]=Графичен инсталатор на пакети
Comment[bn]=আর.পি.এম. ফাইল ইনস্টলের জন্য গ্রাফিকাল ফ্রন্ট-এন্ড
Comment[bs]=Grafički interfejs za instaliranje RPM/DEB paketa
Comment[ca]=Frontal gràfic per instal·lar fitxers RPM/DEB
Comment[cs]=Grafické rozhraní pro instalaci balíčků RPM/DEB
Comment[cy]=Pen blaen graffigol i osod ffeiliau RPM/DEB
Comment[da]=Grafisk frontend til installation af RPM/DEB-filer
Comment[de]=Grafisches Frontend zum Installieren vom RPM/DEB Dateien
Comment[el]=Ένα γραφική πρόσοψη για την εγκατάσταση αρχείων RPM/DEB
Comment[es]=Interfaz gráfica para instalar archivos RPM/DEB
Comment[et]=Graafiline kasutajaliides pakettide paigaldamiseks
Comment[eu]=RPM/DEB fitxategiak instalatzeko interfaze grafikoa
Comment[fa]=ظاهر تصویری برای نصب پرونده‌های RPM/DEB
Comment[fi]=Graafinen ohjelmien asennin
Comment[fr]=Interface graphique pour l'installation de paquetages RPM/DEB
Comment[gl]=Interface gráfica para instalar ficheiros RPM/DEB
Comment[he]=ממשק גרפי להתקנת חבילות RPM/DEB
Comment[hi]=आरपीएम संचिकाओं के संसाधित करने के लिए ग्रफ़िक्ल फ़्रन्ट एन्ड
Comment[hr]=Grafičko sučelje za instaliranje RPM/DEB datoteka
Comment[hu]=Grafikus felület RPM/DEB csomagok telepítéséhez
Comment[id]=Front end grafis untuk menginstall file RPM/DEB
Comment[is]=Grrafískt viðmót til aðstoðar við innsetningu RPM/DEB skráa
Comment[it]=Interrfaccia grafica per l'installazione dei pacchetti RPM/DEB
Comment[ja]=RPM/DEB ファイルのインストール用グラフィカル フロント エンド
Comment[ky]=RPM/DEB файлдарын орнотуу үчүн графикалык интерфейс
Comment[mk]=Графички интерфејс за инсталирање на RPM/DEB датотеки
Comment[mt]=Interfaċċja grafika biex tinstalla pakketti RPM/DEB
Comment[nb]=Et grafisk grensesnitt for installering av RPM/DEB-filer
Comment[nl]=Grafische schil voor het installeren van RPM/DEB bestanden
Comment[nn]=Grafisk grensesnitt for installering av RPM/DEB-filer
Comment[pl]=Graficzna nakładka dla instalatora plików RPM/DEB
Comment[pt]=Interface gráfico para instalar ficheiros RPM/DEB
Comment[pt_BR]=Interface gráfica para instalar pacotes RPM/DEB
Comment[ro]=Interfața grafică pentru instalarea fișierelor RPM/DEB
Comment[ru]=Графический интерфейс для установки файлов RPM/DEB
Comment[sc]=Bisori gràfigu po aposentai file RPM/DEB
Comment[sk]=Grafický nástroj pre inštalovanie RPM/DEB balíkov
Comment[sl]=Grafični vmesnik za nameščanje datotek RPM/DEB
Comment[sq]=Interfac grafike dhe për instalimin e skedareve RPM/DEB
Comment[sr]=Графички интерфејс за инсталацију RPM/DEB пакета
Comment[sr@Latn]=Grafički interfejs za instalaciju RPM/DEB paketa
Comment[sv]=Grafiskt gränssnitt för RPM/DEB-installation
Comment[tg]=Пешохири графикӣ барои коргузории файлҳои RPM/DEB
Comment[th]=ส่วนติดต่อผู้ใช้แบบ graphic ของโปรแกรมเพิ่มแพคเก็จ
Comment[tl]=Graphical na front-end para mag-install ng mga RPM/DEB file (software package)
Comment[tr]=RPM/DEB dosyaların kurulumu için bir grafik önyüz
Comment[uk]=Графічний інтерфейс для встановлення файлів RPM/DEB
Comment[uz]=RPM/DEB fayllarini oʻrnatish uchun grafik interfeys
Comment[uz@cyrillic]=RPM/DEB файлларини ўрнатиш учун график интерфейс
Comment[vi]=Một Frontend đồ họa để cài đặt các tập tin RPM/DEB
Comment[wa]=Ene eterface grafike po-z astaler des pacaedjes RPM/DEB
Comment[zh_CN]=图形化安装 RPM/DEB 软件包
Comment[zh_TW]=RPM/DEB 檔案安裝的圖形化前端
Exec=package-wizard --install %F
Icon=package-wizard
Terminal=false
Type=Application
StartupNotify=true
Categories=Qt;PackageManager;Settings;X-blackPantherOS-CrossDesktop;

